<div class="formContainer">
    <form>
        <p>
            <mat-form-field appearance="legacy">
              <mat-label>Legacy form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Standard form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Fill form field</mat-label>`
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          
          
        <!-- <mat-form-field appearance="standard">
            <div class="radiobtns">
                <label class="label">Purpose of Email</label>
                <p>Select One</p>
                <mat-radio-group aria-label="Purpose of Email">
                    <mat-radio-button value="Business Inquiries">Business Inquiries</mat-radio-button>
                    <mat-radio-button value="Customer Service">Customer Service</mat-radio-button>
                </mat-radio-group>
            </div>

            <mat-label>Standard form field</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>

            <label class="label">Name</label>
            <input type="text" name="name">

            <label class="label">Email</label>
            <input type="text" name="email">

            <label class="label">Message</label>
            <textarea name="message"></textarea>
        </mat-form-field> -->
    </form>
</div>
