<div class="formContainer">
    <form (ngSubmit)="submitForm()">
      <!-- radiobtns -->
      <div class="radiobtns">
        <label class="label">Purpose of Email</label>
        <p>Select One</p>
        <mat-radio-group
          aria-label="Purpose of Email" 
          [(ngModel)]="formType"
          [ngModelOptions]="{standalone: true}">
          <!-- <mat-radio-button *ngFor="let types of formTypes" [value]="types">
            {{types}}
          </mat-radio-button> -->
            <mat-radio-button value="Business Inquiries">Business Inquiries</mat-radio-button>
            <mat-radio-button value="Customer Service">Customer Service</mat-radio-button>
        </mat-radio-group>
    </div>
    <!-- name -->
      <div class="nameLabel">
        <label>Name</label>
      </div>
      <div class="name">
        <mat-form-field 
        appearance="legacy"
        [(ngModel)]="fName"
        name="fName" ngDefaultControl 
        >
          <input matInput="text" placeholder="First Name">
        </mat-form-field>

        <mat-form-field 
        appearance="legacy"
        [(ngModel)]="lName"
        name="lName" ngDefaultControl
        >
          <input matInput="text" placeholder="last Name">
        </mat-form-field>
      </div>
      <!-- email -->
      <div class="emailLabel">
        <label>email</label>
      </div>
      <div class="email">
        <mat-form-field 
        appearance="legacy"
        [(ngModel)]="email"
        name="email" ngDefaultControl
        >
          <input matInput="email" placeholder="email">
        </mat-form-field>
      </div>
      <div *ngIf="this.formType == 'Business Inquiries'" class="subject">
        <div class="subjectLabel">
          <label>subject</label>
        </div>
          <mat-form-field 
          appearance="legacy"
          [(ngModel)]="subject"
          name="subject" ngDefaultControl
          >
            <input matInput="text" placeholder="subject">
          </mat-form-field>
      </div>
      <!-- order -->
      <div *ngIf="this.formType == 'Customer Service'" class="order">
        <div class="orderLabel">
          <label>order #</label>
        </div>
          <mat-form-field
          appearance="legacy"
          [(ngModel)]="subject"
          name="subject" ngDefaultControl
          >
            <input matInput="text" placeholder="order #">
          </mat-form-field>
      </div>
        <!-- msgLabel -->
      <div class="msgLabel">
        <label>Message</label>
      </div>
      <div class="msg">
        <mat-form-field 
        appearance="legacy"
        [(ngModel)]="message"
        name="message" ngDefaultControl
        >
        <textarea matInput="textarea" placeholder=""></textarea>
      </mat-form-field>
      </div>
    <!-- Submit  -->
      <div class="Submitbtn">
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </form>
</div>
